/* chart styles start */
div.project-chart-block {
	padding:10px 0 0 10px;
	margin:0 0 10px 0;
	border:1px solid #ddd;
	position:relative;
	height:225px;
	float:none;
}
ul.project-chart {
	height:80px;
	padding:85px 0 34px 6px;
	position:relative;
	z-index:2;
	float:left;
	margin:0px 0 20px 0px;
}
div.record-info ul.project-chart {
	margin-bottom:10px;
}
ul.project-chart li span{
	position:relative;
}
ul.project-chart li span, ul.project-chart li a {
	height:25px;
	display:block;
}
ul.project-chart li a:hover {
	text-decoration:underline;
}
ul.project-chart li span.helptip {
	position:absolute;
	right: -10px;
	top: -10px;
	z-index:999999;
}
ul.milestones-project-chart {
	padding:0;
	height:auto;
	float:none;
}
ul.project-chart li a, ul.project-chart li span{
	color:#fff;
    font-size: 12px;
	font-weight:bold;
    line-height: 13px;
	white-space: nowrap;
}
ul.project-chart li.new-booking span{
	color:#333;
}
ul.project-chart li a, ul.project-chart li span span{
    padding: 5px 5px 7px;
}
ul.project-chart > li {
    background: url("../img/chart-arrows.png") no-repeat scroll left -4px transparent;
    float: left;
    padding: 0 0 0 58px;
    position: relative;
}
ul.project-chart > li.cleared {
    background: url("../img/chart-arrows.png") no-repeat scroll 1px -401px transparent;
    padding: 0 0 0 33px;
}
ul.project-chart > li.completed {
	background:none;
	padding: 0 0 0 20px;
}
ul.project-chart > li:first-child {
	background:none;
	padding:0;
}
ul.project-chart li span{
	padding: 0 0 0 3px;
}
span.new-booking span{
	padding:0;
}
span.new-booking, span.pending-approval, span.pending-approval a,ul.project-chart span.confirmed, ul.project-chart span.confirmed a,ul.project-chart span.arrived, ul.project-chart span.arrived a,
span.cleared, span.cleared a, ul.project-chart span.completed, ul.project-chart span.completed a, span.payment-pending, span.payment-pending a, ul.project-chart span.rejected, ul.project-chart span.rejected a,
span.canceled, span.canceled a, ul.project-chart span.expired, ul.project-chart span.expired a,span.canceled-by-admin, span.canceled-by-admin a,span.traveler-review, span.traveler-review a,
span.host-review, span.host-review a{
	background:url("../img/chart-bg.png") no-repeat scroll left 0px;
}
span.new-booking span{
	background:url("../img/chart-bg.png") no-repeat scroll right -28px;
}
span.pending-approval{
	background-position:left -243px;
}
span.pending-approval a{
	background-position:right -271px;
}
ul.project-chart span.confirmed{
	background-position:left -853px;
}
ul.project-chart span.confirmed a{
	background-position:right -881px;
}
ul.project-chart span.arrived{
	background-position:left -975px;
}
ul.project-chart span.arrived a{
	background-position:right -1003px;
}
span.cleared{
	background-position:left -1341px;
}
span.cleared a{
	background-position:right -1369px;
}
ul.project-chart span.completed{
	background-position:left -1463px;
}
ul.project-chart span.completed a{
	background-position:right -1491px;
}
span.payment-pending{
	background-position:left -122px;
}
span.payment-pending a{
	background-position:right -150px;
}
ul.project-chart span.rejected{
	background-position:left -365px;
}
ul.project-chart span.rejected a{
	background-position:right -393px;
}
span.canceled{
	background-position:left -732px;
}
span.canceled a{
	background-position:right -760px;
}
ul.project-chart span.expired{
	background-position:left -488px;
}
ul.project-chart span.expired a{
	background-position:right -516px;
}
span.canceled-by-admin{
	background-position:left -610px;
}
span.canceled-by-admin a{
	background-position:right -638px;
}
span.traveler-review{
	background-position:left -1098px;
}
span.traveler-review a{
	background-position:right -1126px;
}
span.host-review{
	background-position:left -1220px;
}
span.host-review a{
	background-position:right -1248px;
}




ul.project-chart li.active > span, ul.project-chart li.active > a{
	height:29px;
}
ul.project-chart li.active > span a, ul.project-chart li.active > span span{
	padding-top:8px;
}
ul.project-chart li.active > span.new-booking{
	background-position:left -56px;
}
ul.project-chart li.active > span.new-booking span{
	background:url("../img/chart-bg.png") no-repeat scroll right -89px;
}
ul.project-chart li.active > span.pending-approval{
	background-position:left -299px;
}
ul.project-chart li.active > span.pending-approval a{
	background-position:right -332px;
}
ul.project-chart li.active > span.confirmed{
	background-position:left -909px;
}
ul.project-chart li.active > span.confirmed a{
	background-position:right -942px;
}
ul.project-chart li.active > span.arrived{
	background-position:left -1031px;
}
ul.project-chart li.active > span.arrived a{
	background-position:right -1064px;
}
ul.project-chart li.active > span.cleared{
	background-position:left -1397px;
}
ul.project-chart li.active > span.cleared a{
	background-position:right -1430px;
}
ul.project-chart li.active > span.completed{
	background-position:left -1519px;
}
ul.project-chart li.active > span.completed a{
	background-position:right -1552px;
}
ul.project-chart li.active > span.payment-pending{
	background-position:left -178px;
}
ul.project-chart li.active > span.payment-pending a{
	background-position:right -211px;
}
ul.project-chart li.active > span.rejected{
	background-position:left -421px;
}
ul.project-chart li.active > span.rejected a{
	background-position:right -454px;
}
ul.project-chart li.active > span.canceled{
	background-position:left -788px;
}
ul.project-chart li.active > span.canceled a{
	background-position:right -821px;
}
ul.project-chart li.active > span.expired{
	background-position:left -544px;
}
ul.project-chart li.active > span.expired a{
	background-position:right -577px;
}
ul.project-chart li.active > span.canceled-by-admin{
	background-position:left -666px;
}
ul.project-chart li.active > span.canceled-by-admin a{
	background-position:right -699px;
}
ul.project-chart li.active > span.traveler-review{
	background-position:left -1154px;
}
ul.project-chart li.active > span.traveler-review a{
	background-position:right -1187px;
}
ul.project-chart li.active > span.host-review{
	background-position:left -1276px;
}
ul.project-chart li.active > span.host-review a{
	background-position:right -1309px;
}









div.payment-block-left, div.rejected-block, div.expired-block, div.confirmed-top-block, div.confirmed-bottom-block, div.traveler-review-block, div.host-review-block{
    height: 65px;
    left: 10px;
    padding: 0 0 0 23px;
    top: -50px;
	position: absolute;
}
div.rejected-block{
	left: 78px;
}
div.expired-block{
    height: auto;
    left: 30px;
    padding-top: 29px;
    top: 24px
}
div.payment-block-left{
	background: url("../img/chart-arrows.png") no-repeat scroll left -64px transparent;
}
div.payment-block-right{
	background: url("../img/chart-arrows.png") no-repeat scroll -47px -153px transparent;
    height: 65px;
    padding: 0 20px 0 0;
}
div.rejected-block{
	background: url("../img/chart-arrows.png") no-repeat scroll 58px -230px transparent;
}
div.expired-block{
	background: url("../img/chart-arrows.png") no-repeat scroll 58px -330px transparent;
}
div.rejected-block ul li.canceled, div.expired-block ul li.canceled-by-admin{
    background: url("../img/chart-arrows.png") no-repeat scroll 30px -963px transparent;
	left: 124px;
    position: absolute;
    top: 1px;
	height:65px;
}
div.expired-block ul li.canceled-by-admin{
    background: url("../img/chart-arrows.png") no-repeat scroll 15px -331px transparent;
	height: auto;
    padding-top: 28px;
}
div.confirmed-top-block{
    background: url("../img/chart-arrows.png") no-repeat scroll 0 -461px transparent;
    left: 90px;
    padding: 0;
    width: 60px;
}
div.confirmed-bottom-block{
    background: url("../img/chart-arrows.png") no-repeat scroll 5px -572px transparent;
    height: auto;
    left: 108px;
    padding: 43px 0 0;
    top: 24px;
    width: 48px;
}
div.traveler-review-block{
    background: url("../img/chart-arrows.png") no-repeat scroll 0 -752px transparent;
    left: -10px;
	top:-49px;
    padding: 0 0 0 43px;
}
div.host-review-block{
    background: url("../img/chart-arrows.png") no-repeat scroll 0 -664px transparent;
    height: auto;
    left: -10px;
    padding: 32px 0 0 43px;
    top: 21px;
}
div.traveler-review-block ul li div.traveler-arrow{
    background: url("../img/chart-arrows.png") no-repeat scroll 135px -842px transparent;
    height: 65px;
    position: absolute;
	width:200px;
}
/* chart styles ended */
